<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CustomKeys - Productos</title>
    <link rel="stylesheet" href="../css/style.css">
    <style>
    /*FUENTES ESPECIALES*/
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    </style>
</head>
<body>
    <header>
        <img class="icono" src="../Images/CustomKeys-logo.png" alt="Logo-empresa" width="500" height="500">
        <h1>✨CustomKeys✨</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html" class="active">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Nuestros Diseños</h2>
            <p class="box">En CustomKeys diseñamos teclados únicos a tu medida: elige tamaño, switches, materiales, sonido 
            y estética. Trabajamos desde configuraciones sencillas hasta proyectos totalmente custom.</p>

            <h2>Guía rápida de tamaños</h2>
            <ul class="box-list">
                <li>60%: Sin flechas ni F-Row. Ultra compacto para escritorio minimalista.</li>
                <li>65%: Compacto con flechas. El equilibrio perfecto para diario.</li>
                <li>75%: Incluye F-Row en formato denso. Ideal para productividad.</li>
                <li>TKL (80%): Sin numérico, más espacio para el ratón.</li>
                <li>96% / 100%: con numérico. Perfecto para hojas de cálculo y trabajo.</li>
            </ul>

            <h2>Tipos de switches</h2>
            <p class="box">Existen cientos de tipos de stitches con algo especial y único que los diferencian, para los que no
            entienden mucho sobre los switches explicaremos los tres tipos principales y los más usados:</p>

            <ul class="box-list">
                <li>Lineales: Pulsación suave y silenciosa. Gaming y escritura rápida.</li>
                <li>Táctiles: Pequeño “bump” sin click. Escritura precisa, buen feedback.</li>
                <li>Clicky: Click audible y táctil. Sensación clásica, sonido marcado.</li>
            </ul>

            <h2>Materiales y sensación</h2>
            <ul class="box-list">
                <li>Carcasa: plástico (ligero), aluminio (premium y sólido), acrílico (RGB espectacular).</li>
                <li>Plate: policarbonato (suave y “flex”), aluminio (equilibrado), latón (firme y “crisp”).</li>
                <li>Keycaps: ABS (suave), PBT (mate y duradero), doubleshot/dye-sub (leyendas resistentes).</li>
                <li>Montaje: tray, top, gasket. El gasket ofrece mayor confort y mejor acústica.</li>
            </ul>

            <h2>Software y funciones</h2>
            <ul class="box-list">
                <li>PCB hotswap (cambia switches sin soldar).</li>
                <li>QMK/VIA (programación de teclas y layers).</li>
                <li>RGB per-key, macros, layouts ISO-ES o ANSI.</li>
            </ul>

            <p class="box">Aquí encontrarás algunos de los teclados personalizados que hemos creado para nuestros clientes. 
            Cada teclado es único y está hecho a medida según los gustos y presupuestos:</p>
        </section>

        <h3 class="baja">GAMA BAJA:</h3>
            <div class="galeria">
                <img src="https://linuxbasico.com/wp-content/uploads/2020/08/external-content.duckduckgo.com_-e1597506064637.png" alt="Teclado personalizado bajo 1" width="1024" height="601">
                <img src="https://m.media-amazon.com/images/I/610XR-digDL.jpg" alt="Teclado personalizado bajo 2" width="1601" height="1601">
                <img src="https://correos-marketplace.ams3.cdn.digitaloceanspaces.com/prod-new/uploads/correos-marketplace-shop/1/product/41469-k1q3rrsj-deepgaming-teclado-gaming-de-membrana-deepgaming-colorkey-con-9-modos-de-iluminacion-anti-ghosting-1.jpg" alt="Teclado personalizado bajo 3" width="1620" height="1080">
                <img src="https://tiendamovil.com.py/shop/31044-medium_default/teclado-corsair-k55-core-rgb-negro.jpg" alt="Teclado personalizado bajo 4" width="452" height="452">
                <img src="https://cdn.gameplanet.com/wp-content/uploads/2022/09/05055419/dyaus-2-rgb-4.jpg" alt="Teclado personalizado bajo 5" width="1200" height="1483">
            </div>
        
        <h3 class="media">GAMA MEDIA</h3>
            <div class="galeria">
                <img src="https://img.pccomponentes.com/pcblog/5971/mejores-teclados-mecanicos.jpg" alt="Teclado personalizado medio 1" width="1366" height="768">
                <img src="https://thumb.pccomponentes.com/w-530-530/articles/1084/10840428/1306-owlotech-analog01-teclado-mecanico-wireless-con-knob.jpg" alt="Teclado personalizado medio 2" width="530" height="530">
                <img src="https://www.coolmod.com/images/product/large/PROD-033974_1.jpg?v=1756118327" alt="Teclado personalizado medio 3" width="776" height="776">
                <img src="https://thumb.pccomponentes.com/w-530-530/articles/1086/10861493/1367-newskill-pyros-v2-teclado-gaming-inalambrico-mecanico-60-hotswap-blanco.jpg" alt="Teclado personalizado medio 4" width="530" height="530">
                <img src="https://ae-pic-a1.aliexpress-media.com/kf/S5e5298915df640c796d85fa3027e1165n.jpg_220x220q75.jpg_.avif" alt="Teclado personalizado medio 5" width="220" height="220">
            </div>
        
        <h3 class="alta">GAMA ALTA</h3>
            <div class="galeria">
                <img src="https://ae-pic-a1.aliexpress-media.com/kf/Sc54808aee6c0443eb7627e0b0ee596b8w.jpg_720x720q75.jpg_.avif" alt="Teclado personalizado alto 1" width="720" height="720">
                <img src="https://pcbox.vtexassets.com/arquivos/ids/3145530-853-853/90MP03MA-BKUA01_IMG_DEF.jpg?v=638883081986500000" alt="Teclado personalizado alto 2" width="853" height="853">
                <img src="https://es.accessoires-asus.com/images/articles/134818/246533562657.jpg" alt="Teclado personalizado alto 3" width="800" height="535">
                <img src="https://es.accessoires-asus.com/images/articles/132233/724455727071.jpg" alt="Teclado personalizado alto 4" width="800" height="533">
                <img src="https://es.accessoires-asus.com/images/articles/73612/390315616160.webp" alt="Teclado personalizado alto 5" width="800" height="533">
            </div>
        
        <h3 class="custom">CUSTOM</h3>
            <div class="galeria">
                <img src="https://www.tutecladomecanico.com/wp-content/uploads/2021/09/tecladoCustom-1024x570-1.webp" alt="Teclado personalizado medio 1" width="1024" height="570">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1UjtCSHJulfTpAJQDEc6hOcOJLzWdzdr3aw&s" alt="Teclado personalizado medio 2" width="275" height="183">
                <img src="https://i.ytimg.com/vi/kpW8xwQmtJY/maxresdefault.jpg" alt="Teclado personalizado medio 3" width="1280" height="720">
                <img src="https://fancycustoms.com/cdn/shop/files/3_7fa202b7-cc2b-4917-a344-a1d25af8de53_2048x2048.jpg?v=1753396879" alt="Teclado personalizado medio 4" width="2048" height="1365">
                <img src="https://miguelio.com/assets/img/teclados/teclado-lego.webp" alt="Teclado personalizado medio 5" width="1488" height="992">
            </div>
    </main>

    <footer>
        <div class="redes">
            <a href="#"><img src="../Images/Facebook-logo.png" alt="Facebook" width="2048" height="2049">Facebook</a>
            <a href="#"><img src="../Images/Twitter-logo.jpg" alt="Twitter" width="500" height="500">Twitter</a>
            <a href="#"><img src="../Images/Instagram-logo.png" alt="Instagram" width="499" height="500">Instagram</a>
        </div>
        <p>Dirección: Calle Teclado 123, Ciudad Custom</p>
        <p><a href="#">Aviso legal</a></p>
    </footer>
</body>
</html>